* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

h2 {
  background-color: #d3d3d3;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

p {
  margin-bottom: 15px;
  display: inline-block;
}

.product {
  border: 5px solid black;
  width: 900px;
  margin: 50px auto;
  position: relative;
}

.add-cart {
  background-color: black;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding-bottom: 50px solid;
  border-top: 5px solid black;
  border-bottom: 1px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
  border-top: 5px solid black;
}

.caps-lock {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 15px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:visited {
  text-decoration: none;
}

.details-list {
  margin-left: 30px;
  margin-bottom: 30px;
  list-style-type: square;
}

.details-list li {
  margin-bottom: 10px;
}

.sale {
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
  letter-spacing: 3px;
}

button:hover {
  background-color: white;
  color: black;
  border-style: none;
}

/* p:nth-child(3) {
  font-size: 24px;
} */

p:nth-child(4) {
  font-size: 16px;
  color: #b3b3b3;
}

article p:first-child {
  width: 100px;
  /* text-align: center; */
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 30px;
}

.color-blue {
  background-color: royalblue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

.product-details {
  width: 270px;
  /* background-color: red; */
  float: right;
  margin-top: 20px;
  /* padding: 10px; */
}

.product-description {
  /* background-color: greenyellow; */
  float: left;
  width: 270px;
  height: 220px;
  margin-left: 30px;
  margin-top: 20px;
}

.product-img {
  float: left;
}
